body {
}
header {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  text-align: center;
  text-decoration: none;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.con {
  background-color: #fff1eb;
}
button {
  width: 10%;
}
.search :after {
  content: '';
  background: white;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 2px;
  transform: rotate(135deg);
}

.search {
  color: white;
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search:focus::placeholder {
  opacity: 1;
}

.search:focus,
.search:not(:placeholder-shown) {
  width: 250px;
}

@media screen and (max-width: 600px) {
  button {
    width: 20%;
  }
}
