

body {
  background-color: #282c34;

}
header {
  text-align: center;
  text-decoration: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
} 




